.block-category {
  min-height:13.75rem;
  margin-bottom:1.5625rem;
}
.block-category #category-description p,
.block-category #category-description strong {
  font-weight:400;
  color:#777777;
}
.block-category #category-description p {
  color:#414141;
  margin-bottom:0;
}
.block-category #category-description p:first-child {
  margin-bottom:1.25rem;
}

.block-categories {
  border-bottom:1px solid #f0f0f0;
  float:left;
  margin:0;
  padding:8px;
  width:100%;
}
.block-categories ul {
  margin:0;
}
.block-categories .category-sub-menu {
  display:inline-block;
  float:none;
  margin-top:0.625rem;
  vertical-align:top;
  width:100%;
}
.block-categories .category-sub-menu .category-sub-link {
  font-size:0.875rem;
  color:#888888;
}
.block-categories .category-sub-menu .category-sub-link:hover {
  color:#333333;
}
.block-categories .category-sub-menu li {
  position:relative;
  padding:0 0 5px;
}
.block-categories .category-sub-menu li[data-depth="1"] {
  margin-bottom:0;
}
.block-categories .category-sub-menu li[data-depth="0"] > a {
  width:100%;
  display:inline-block;
}
.block-categories .category-sub-menu li:not([data-depth="0"]):not([data-depth="1"]) {
  padding-left:0.3125rem;
}
.block-categories .category-sub-menu li:not([data-depth="0"]):not([data-depth="1"])::before {
  content:"-";
  margin-right:0.3125rem;
}
.block-categories a {
  color:#414141;
}
.block-categories #categories .collapse-icons {
  position:absolute;
  right:0;
  top:0;
  padding:0;
  cursor:pointer;
}
.block-categories #categories .collapse-icons .material-icons {
  font-size:15px;
}
.block-categories .category-sub-menu .category-sub-menu {
  padding:0 0 0 20px!important;
}
.block-categories .collapse-icons[aria-expanded="true"] .add {
  display:none;
}
.block-categories .collapse-icons[aria-expanded="true"] .remove {
  display:block;
}
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover {
  color:#000000;
}
.block-categories .collapse-icons .remove {
  display:none;
}
.block-categories .arrows .arrow-right,
.block-categories .arrows .arrow-down {
  font-size:0.875rem;
  cursor:pointer;
  margin-left:2px;
}
.block-categories .arrows .arrow-right:hover,
.block-categories .arrows .arrow-down:hover {
  color:#000000;
}
.block-categories .arrows .arrow-down {
  display:none;
}
.block-categories .arrows[aria-expanded="true"] .arrow-right {
  display:none;
}
.block-categories .arrows[aria-expanded="true"] .arrow-down {
  display:inline-block;
}

.category-cover > img {
  height:auto;
  max-width:100%;
  border-radius:10px;
  overflow:hidden;
}
.block-category .h1.title-category {
  color:#232323;
  float:left;
  width:100%;
  font-weight:400;
  font-size:18px;
  line-height:24px;
  letter-spacing:0.4px;
  margin:0;
  text-transform:capitalize;
}
@media (max-width: 991px) {
  .block-category .category-cover {
    position:relative;
    text-align:center;
  }
  .block-category {
    padding-bottom:0;
  }
}