#block-reassurance {
  margin-top:15px;
  border:1px solid #ebe0d0;
  float:left;
  width:100%;
  overflow:hidden;
  border-radius:5px;
}
#block-reassurance ul {
  margin:0;
  padding:0;
}
#block-reassurance img {
  opacity:.7;
  width:1.5625rem;
  margin-right:0.625rem;
}
#block-reassurance li {
  border-bottom:1px solid rgba(235,
          224,
          208,
          0.8);
}
#block-reassurance li:last-child {
  border:0;
}
#block-reassurance li .block-reassurance-item {
  padding:10px;
}
.block-reassurance-item .h6 {
  font-size:13px;
  font-weight:normal;
  line-height:18px;
}