/* ------------------ Start Forget-password block --------------------- */

.ps-alert-error {
  margin-bottom:0
}
.ps-alert-error .item,
.ps-alert-success .item {
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  border:2px solid #ff4c4c;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background-color:#ff4c4c;
  margin-bottom:1rem
}
.ps-alert-error .item i,
.ps-alert-success .item i {
  border:15px solid #ff4c4c;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
.ps-alert-error .item i svg,
.ps-alert-success .item i svg {
  background-color:#ff4c4c;
  width:24px;
  height:24px
}
.ps-alert-error .item p,
.ps-alert-success .item p {
  background-color:#fff;
  margin:0;
  padding:18px 20px;
  width:100%
}
.ps-alert-success {
  padding:.25rem .25rem 2.75rem
}
.ps-alert-success .item {
  border-color:#4cbb6c;
  background-color:#4cbb6c
}
.ps-alert-success .item i {
  border-color:#4cbb6c
}
.ps-alert-success .item i svg {
  background-color:#4cbb6c
}
/* ------------------ End Forget-password block --------------------- */