/*--------------------------- Start Homepage  --------------------------*/

.ttspecial-products {
  margin:0;
}
.ttspecial-products .ttspecial-list.container {
  padding:0;
}
@media (max-width: 543px) {
  .tt-title,
  .tthometab-title {
    font-size:24px;
  }
}