/**** ORDER CONFIRMATION *****/

#order-details {
  padding-left: 1.875rem;
}
#order-details > .card-title {
  margin-bottom: 1.875rem;
}
#order-details ul {
  margin-bottom: 1.25rem;
  padding: 0;
}
#order-details ul li {
  margin-bottom: 0.625rem;
}
#order-items {
  border-right: #dedede 1px solid;
}
#content-hook_order_confirmation .h1.card-title {
  font-weight: normal;
  text-transform: capitalize;
}
#order-items hr {
  border-top-color: #ebe0d0;
}
#order-items table {
  width: 100%;
}
#order-items table tr {
  height: 1.875rem;
}
#order-items table tr td:last-child {
  text-align: right;
}
#order-items .order-line {
  margin-top: 1rem;
}
#order-items .image img {
  width: 100%;
  border: 1px solid gray-lighter;
  margin-bottom: 1rem;
}
#order-items .details {
  margin-bottom: 1rem;
}
#order-items .details .customizations {
  margin-top: 0.625rem;
}
#order-items .qty {
  margin-bottom: 1rem;
}
#order-confirmation #registration-form {
  width: 50%;
  margin: 0 auto 1rem;
}
#order-confirmation .col-md-12 > p {
  float: left;
  width: 100%;
}
#order-confirmation .card.definition-list {
  float: left;
  margin: 0 0 60px;
  width: 100%;
}
#order-confirmation .card-block {
  float: left;
  width: 100%;
}


.page-order .table {
  margin-bottom: 0;
}
.page-order table th {
  padding: 0.5rem;
}
.page-order table td {
  padding: 0.5rem;
}
.page-order table thead th {
  text-align: center;
}


/*** Order details page ***/

#order-detail #order-infos strong {
  color: #333333;
  font-weight: normal;
}
.page-order-detail {
  font-size: 0.875rem;
  color: #878787;
}
.page-order-detail .box {
  background: white;
  padding: 1rem;
  margin-bottom: 0;
}
.page-order-detail h3 {
  font-size: 1rem;
  font-weight: normal;
  color: #333333;
  margin-bottom: 1rem;
}
.page-order-detail #order-infos ul {
  margin: 0;
}
.page-order-detail #order-history .history-lines .history-line {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ebe0d0;
}
.page-order-detail #order-history .history-lines .history-line:last-child {
  border-bottom: 0;
}
.page-order-detail #order-history .history-lines .history-line .label {
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.25rem 0.375rem;
  color: white;
  border-radius: 3px;
}
.page-order-detail .addresses {
  margin: 0 -0.9375rem;
}
.page-order-detail .addresses h4 {
  font-size: 1rem;
  color: #333333 !important;
  font-weight: normal;
}
#order-products strong {
  color: #222222;
  font-weight: normal;
}
.page-order-detail #order-products.return {
  margin-bottom: 1rem;
}
.page-order-detail #order-products.return th.head-checkbox {
  width: 30px;
}
.page-order-detail #order-products.return td {
  padding: 1.375rem 0.75rem;
}
.page-order-detail #order-products.return td.qty {
  min-width: 125px;
}
.page-order-detail #order-products.return td.qty .current {
  width: 30%;
  float: left;
  text-align: right;
  padding-right: 0.5rem;
}
.page-order-detail #order-products.return td.qty .select {
  width: 70%;
  float: left;
  margin: -0.625rem 0;
  padding-left: 0.25rem;
}
.page-order-detail #order-products.return td.qty .select select {
  text-align: center;
}
.page-order-detail .order-items {
  padding: 0 !important;
}
.page-order-detail .order-items .order-item {
  padding: 1rem 1rem 0;
  border-bottom: 1px solid #ebe0d0;
}
.page-order-detail .order-items .order-item .checkbox {
  width: 30px;
  float: left;
  padding: 0 0.9375rem;
}
.page-order-detail .order-items .order-item .content {
  width: calc(100% - 30px);
  float: left;
  padding: 0 0.9375rem;
}
.page-order-detail .order-items .order-item .desc {
  margin-bottom: 1rem;
}
.page-order-detail .order-items .order-item .desc .name {
  font-weight: bold;
}
.page-order-detail .order-items .order-item .qty {
  margin-bottom: 1rem;
}
.page-order-detail .order-items .order-item .qty .q {
  margin-bottom: 0.25rem;
}
.page-order-detail .order-items .order-item .qty .s {
  margin-bottom: 0.25rem;
}
.page-order-detail .messages .message {
  margin-top: 0.5rem;
  border-bottom: 1px solid #ebe0d0;
}
.page-order-detail .messages .message:last-child {
  border-bottom: 0;
}
.page-order-detail .messages .message > div {
  margin-bottom: 0.5rem;
}
.page-order-detail .customization {
  margin-top: 0.75rem;
}
/*** Order return page ***/

#order-return-infos .thead-default th {
  color: #414141;
}
#order-return-infos .customization {
  margin-top: 0.75rem;
}

@media (max-width: 991px) {
  #order-confirmation #registration-form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #order-items {
    border-right: 0;
    margin-bottom: 2.5rem;
  }
  #order-items .card-title {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  #order-items hr {
    border-top-color: #dedede;
  }

  #order-details {
    padding-left: 0.9375rem;
  }
  #order-details .card-title {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}