/* -------------------- modal -------------------------- */
.product-images .thumb-container .thumb {
  border:1px solid #ebe0d0;
  border-radius:15px;
  cursor:pointer;
}

#product-modal .modal-dialog {
  max-width:800px;
}
#product-modal .modal-content .modal-body {
  background:#fbf9f5;
  float:left;
  margin:0;
  width:100%;
}
#product-modal .modal-content .modal-body figure {
  width:80%;
}
#product-modal .modal-content .modal-body .thumbnails {
  float:left;
  position:relative;
  width:20%;
}
#product-modal .modal-content .modal-body .product-cover-modal {
  background:#ffffff none repeat scroll 0 0;
  border:1px solid #ebe0d0;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -khtml-border-radius:15px;
  height:auto;
  max-width:100%;
  overflow:hidden;
}
#product-modal .modal-content .modal-body .image-caption {
  float:left;
  padding:20px 0 0;
  width:100%;
}
#product-modal .modal-content .modal-body .mask.nomargin {
  margin-top:0;
}
#product-modal .modal-content .modal-body .product-images {
  float:left;
  padding:0 5px 0 20px;
  margin:0;
  width:100%;
}
#product-modal .modal-content .modal-body .product-images li {
  display:inline;
  float:left;
  margin:0 0 10px;
  width:100%;
}
#product-modal .modal-content .modal-body .product-images img {
  background:#ffffff none repeat scroll 0 0;
  border:1px solid #ebe0d0;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -khtml-border-radius:15px;
  box-shadow:none;
  cursor:pointer;
  overflow:hidden;
  width:100%;
}
@media (max-width: 991px) {
  #product-modal .modal-content .modal-body figure {
    width:70%;
  }
  #product-modal .modal-dialog {
    max-width:650px;
  }
}
@media (max-width: 543px) {
  #product-modal .modal-content .modal-body figure {
    width:60%;
  }
  #product-modal .modal-content .modal-body .thumbnails {
    width:35%;
  }
}