.quickview .modal-dialog {
  width:calc(100% - 30px);
  max-width:64rem;
}
.quickview .social-sharing {
  margin-top:0;
}
.quickview .arrows .material-icons {
  height:30px;
  width:30px;
  border:1px solid #000000;
  border-radius:50%;
  padding:4px;
  left:0;
  right:0;
  background:#000000;
  font-size:20px;
  color:#ffffff;
}
.quickview .arrows .material-icons:hover {
  background:#ffa247;
  border-color:#ffa247;
}
.quickview .modal-content {
  float:left;
  width:100%;
}
.quickview .modal-header {
  border:none;
  padding:0.625rem;
}
.quickview .modal-body {
  float:left;
  width:100%;
  margin:30px 0;
}
.quickview .modal-footer {
  border-top:1px solid rgba(172,
          170,
          166,
          0.3);
  float:left;
  width:100%;
}
.quickview .layer {
  display:none;
}
.quickview .images-container {
  position:static;
  z-index:1;
  float:left;
  width:100%;
}
.quickview .images-container .ttproduct-images > li.thumb-container > .thumb {
  width:4.9375rem;
  margin-bottom:0.8125rem;
  background:white;
}
.quickview .mask {
  width:25%;
  height:20.5rem;
  overflow:hidden;
  margin:17px 0;
  padding:0 0 0 20px;
}
.quickview .mask ul li img {
  margin:5px 0!important;
}
.quickview .mask ul li:last-child img {
  margin:0;
}
.quickview .arrows {
  position:absolute;
  top:0;
  height:22.5rem;
  right:50px;
  z-index:99;
}
.quickview .arrows .arrow-up {
  margin-top:-3.125rem;
  cursor:pointer;
}
.quickview .arrows .arrow-down {
  position:absolute;
  bottom:-1.875rem;
  cursor:pointer;
}

.quick-view-block {
  text-align:center;
}

.quickview-title.tt-producttitle {
  margin:0;
  padding:0;
  text-align:left;
}

/*------quickview alert--------*/

.quickview .product-cover {
  width:75%;
}
@media (max-width: 1199px) {
  .quickview .mask {
    height:215px;
    margin:50px 0;
  }
  .quickview .product-cover {
    width:72%;
  }
  .quickview .mask {
    width:28%;
  }
  .quickview .arrows {
    height:280px;
    right:64px;
  }
  .quickview .arrows .arrow-up {
    margin-top:0;
  }
  .quickview-title {
    font-size:28px;
  }
}
@media (max-width: 991px) {
  .quickview .modal-dialog {
    width:720px;
  }
  .quickview .mask {
    width:20%;
    height:435px;
  }
  .quickview .images-container {
    position:static;
  }
  .quickview.in .modal-content .modal-body .col-md-6 {
    width:100%;
    float:left;
  }
  .quickview .product-cover {
    width:80%;
  }
  .quickview .modal-body .col-md-6.col-sm-6 {
    width:100%;
  }
  .quickview .arrows {
    height:500px;
  }
  .quickview .arrows {
    right:70px;
  }
}
@media (max-width: 767px) {
  .quickview .modal-dialog {
    width:500px;
  }
  .quickview .mask {
    width:30%;
    height:215px;
  }
  .quickview-title.tt-title {
    font-size:24px;
  }
  .quickview .product-cover {
    width:74%;
  }
  .quickview .mask {
    width:26%;
  }
  .quickview .arrows {
    height:280px;
    right:50px;
  }
}
@media (max-width: 543px) {
  .quickview.in .modal-content .modal-body .col-md-6 {
    display:block!important;
  }
  .quickview .modal-dialog {
    width:300px;
    margin:10px auto;
  }
  .quickview .mask {
    height:110px;
    width:40%;
    margin:20px auto;
    padding:0;
    display:none;
  }
  .quickview .arrows {
    height:auto;
    right:50px;
    position:static;
    display:none;
  }
  .quickview .images-container {
    min-height:200px;
  }
  .quickview-title.tt-producttitle {
    font-size:18px;
  }
  .quickview .social-sharing {
    margin:0;
  }
  .quickview .product-cover {
    width:100%;
  }
  .quickview .arrows .arrow-up {
    margin-top:-10px;
    left:40px;
  }
  .quickview .arrows .material-icons {
    position:absolute;
    bottom:60px;
  }
  .quickview .arrows .arrow-down {
    right:40px;
  }
}