/*---------------- Start Smart-Blog Block Css -------------------*/

#smartblog_block {
  float:left;
  position:relative;
  text-align:center;
  width:100%;
  margin:60px 0 0;
}
#smartblog_block .tt-title:hover {
  color:#ff4fa3;
}
#smartblog_block .products_block_inner .homepage-heading {
  margin:0;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item {
  float:left;
  margin:20px 0 0;
  width:100%;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post {
  float:left;
  width:100%;
  margin:0 0 30px;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder {
  overflow:hidden;
  position:relative;
  display:block;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder a {
  display:block;
  position:relative;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder a img {
  width:100%;
  max-width:100%;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder a .blog-hover {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  width:100%;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons {
  bottom:0;
  height:45px;
  left:0;
  margin:auto;
  position:absolute;
  right:0;
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  top:0;
  width:45px;
  opacity:0;
  -moz-opacity:0;
  -khtml-opacity:0;
  -webkit-opacity:0;
}
@media (max-width: 767px) {
  #smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons {
    opacity:1;
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
  }
  #smartblog_block {
    margin:20px 0 0;
  }
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon {
  display:inline-block;
  height:45px;
  width:45px;
  position:relative;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon:before {
  font-family:"Material Icons";
  content:"";
  border:2px solid #e6e6e6;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -khtml-border-radius:50%;
  color:#ffffff;
  font-size:19px;
  height:45px;
  margin:auto;
  left:0;
  position:absolute;
  padding:12px;
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
  top:0;
  width:45px;
}
@media (max-width: 767px) {
  #smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon:before {
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
  }
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon:hover:before {
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  border-color:#f7a61c;
  background:#f7a61c;
  color:#fff;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .news_module_image_holder .blogicons .icon.zoom:before {
  content:"\E8B6";
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content {
  padding:10px 0;
  text-align:left;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title {
  margin:0 0 10px;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title a {
  color:#000000;
  font:400 18px/20px"Poppins",
  Helvetica,
  sans-serif;
  letter-spacing:1px;
  text-transform:capitalize;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .sds_post_title a:hover {
  color:#f7a61c;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_date {
  float:left;
  width:100%;
  display:none;
  line-height:18px;
  font-size:14px;
  font-family:"Poppins",
  Helvetica,
  sans-serif;
  color:#999;
  margin:0 0 5px;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_date i {
  font-size:16px;
  line-height:18px;
  vertical-align:top;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_date .date_inner {
  display:inline-block;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .desc {
  color:#808080;
  float:left;
  font:400 14px/20px"Poppins",
  Helvetica,
  sans-serif;
  width:100%;
  margin:0 0 10px;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .smartbloginfo {
  margin:0 0 10px;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .r_more {
  background:transparent none repeat scroll 0 0;
  color:#808080;
  padding:8px 15px;
  border:1px solid #e6e6e6;
  display:inline-block;
  font-weight:400;
  font-size:14px;
  line-height:20px;
  text-transform:capitalize;
  transition:all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
  -moz-transition:all 0.5s ease 0s;
  -ms-transition:all 0.5s ease 0s;
  -o-transition:all 0.5s ease 0s;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item .blog_post .blog_content .blog_inner .r_more:hover {
  background:#c69155;
  color:#ffffff;
  border-color:#c69155;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item:hover .news_module_image_holder .blog-hover {
  background:rgba(0,
          0,
          0,
          0.4);
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item:hover .news_module_image_holder .blogicons {
  opacity:1;
  -moz-opacity:1;
  -khtml-opacity:1;
  -webkit-opacity:1;
  transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item:hover .news_module_image_holder .blogicons .zoom:before {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
}
#smartblog_block .sdsblog-box-content #smartblog-carousel .item:hover .news_module_image_holder .blogicons .readmore:before {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -moz-transition:all 0.3s ease 0s;
  -webkit-transition:all 0.3s ease 0s;
  -khtml-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
}
#smartblog-carousel .item .blog_post .blog_content .blog_inner .read_more .readmore {
  text-transform:capitalize;
}
#smartblog-carousel .item .blog_post .blog_content .blog_inner .read_more .readmore::after {
  content:"\E409";
  font-family:material icons;
  vertical-align:middle;
}
#sdsblogArticle {
  margin-bottom:20px;
}
#sdsblogArticle .post-info span .material-icons {
  font-size:16px;
  vertical-align:middle;
}
#sdsblogArticle #lipsum {
  margin:0 0 10px;
  width:100%;
}
#sdsblogArticle #lipsum img {
  max-width:100%;
  width:100%;
}
#sdsblogArticle .page-item-title h1 {
  color:#000000;
  font:500 18px/22px"Poppins",
  Helvetica,
  sans-serif;
  margin:0 0 10px;
  padding:0;
  text-transform:capitalize;
}
#sdsblogArticle .post-info {
  display:block;
  margin:0 0 10px;
}
#sdsblogArticle .post-info span span {
  display:inline-block;
}
#sdsblogArticle .sdsarticle-des {
  margin:0;
  text-align:justify;
  line-height:24px;
}
#respond {
  color:#808080;
}
#respond .comment-reply-title {
  color:#222222;
  float:left;
  font:500 18px/20px"Poppins",
  Helvetica,
  sans-serif;
  margin:0 0 20px;
  width:100%;
}
#respond #commentInput {
  float:left;
  margin:0 0 15px;
  width:100%;
}
#respond #commentInput .right {
  padding:10px 0 0;
  text-align:right;
}
#respond input[disabled] {
  color:#fff;
}
#respond .captcha input[type="text"] {
  max-width:85px;
}
#respond td {
  padding:5px;
  vertical-align:top;
}
#respond td:first-child {
  padding-top:8px;
}
.smartblogcomments .success {
  background-color:#DFF0D8;
  border-color:#D6E9C6;
  color:#3C763D;
  border:1px solid transparent;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  margin-bottom:20px;
  padding:15px;
}
.smartblogcomments .attention {
  background-color:#f5f5f5;
  border-color:#e5e5e5;
  color:#333;
  border:1px solid transparent;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  margin-bottom:20px;
  padding:15px;
  float:left;
  width:100%;

}
.smartblogcomments .warning {
  background-color:#F2DEDE;
  border-color:#EBCCD1;
  color:#A94442;
  border:1px solid transparent;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  margin-bottom:20px;
  padding:15px;
  float:left;
  width:100%;
}
#articleComments {
  border-bottom:1px solid #e1ddd8;
  border-top:1px solid #e1ddd8;
  margin:0px 0 30px;
}
#articleComments #comments {
  margin-bottom:10px;
}
#articleComments .commenttitle {
  font:400 14px"Poppins",
  Helvetica,
  sans-serif;
  margin:10px 0;
}
#articleComments .commentList {
  margin:0;
  position:relative;
}
#articleComments .commentList li {
  border-top:1px solid #e5e5e5;
  float:left;
  margin:10px 0 0;
  padding:15px 0 15px 110px;
  position:relative;
  width:100%;
}
#articleComments .commentList li .avatar {
  background:rgba(0,
          0,
          0,
          0) none repeat scroll 0 0;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -khtml-border-radius:50%;
  left:10px;
  padding:0;
  position:absolute;
  top:18px;
}
#articleComments .commentList li .reply {
  height:auto;
  text-align:right;
}
#articleComments .commentList li .reply .comment-reply-link {
  cursor:pointer;
}
#articleComments .commentList li .reply .comment-reply-link:hover {
  text-decoration:underline;
  color:#000000;
}
#articleComments .commentList li .name,
#articleComments .commentList li .name a {
  font-size:13px;
  font-weight:bold;
}
#articleComments .commentList li .created {
  margin:0 0 10px;
}
#articleComments .commentList li p {
  font-size:15px;
  font-weight:400;
}
#sdsblogCategory {
  float:left;
  margin:0 0 30px;
  width:100%;
}
#sdsblogCategory .imageFeatured {
  border:medium none;
  max-width:100%;
  padding:0;
}
#sdsblogCategory .catDesc p {
  float:left;
  width:100%;
  border:1px solid #e1ddd8;
  border-top:none;
  padding:15px;
  margin:0;
}
#smartblogcat {
  float:left;
  width:100%;
}
#smartblogcat .sdsarticleCat {
  margin:0 0 30px;
  padding:0;
  position:relative;
}
#smartblogcat .sdsarticleCat .sdsarticleHeader {
  margin:0;
  padding:0;
  display:block;
}
#smartblogcat .sdsarticleCat .sdsarticleHeader .sdstitle_block {
  margin:0 0 10px;
  width:100%;
  text-transform:capitalize;
  border:none;
  background:none;
  height:auto;
  padding:0;
}
#smartblogcat .sdsarticleCat .sdsarticleHeader .sdstitle_block a {
  color:#000000;
  font:500 16px/20px"Poppins",
  Helvetica,
  sans-serif;
  padding:0;
  text-transform:capitalize;
  width:100%;
  float:left;
}
#smartblogcat .sdsarticleCat .sdsarticleHeader .sdstitle_block a:hover {
  color:#c69155;
}
#smartblogcat .sdsarticleCat .articleContent {
  display:block;
  position:relative;
  overflow:hidden;
}
#smartblogcat .blog_desc .sdsreadMore .more .r_more::after {
  content:"\E409";
  font-family:material icons;
  vertical-align:middle;
}
#smartblogcat .sdsarticleCat .articleContent .imageFeaturedLink img {
  max-width:100%;
  width:100%;
  padding:0;
}
#smartblogcat .sdsarticleCat .blogdetail {
  display:block;
  margin:0 0 10px;
  line-height:22px;
  float:left;
  width:100%;
}
#smartblogcat .sdsarticleCat .blogdetail > span {
  float:left;
  margin:0 15px 0 0;
}
#smartblogcat .sdsarticleCat .blogdetail > span.ttpost {
  display:none;
}
#smartblogcat .sdsarticleCat .blogdetail .blogcomment a {
  font-family:"Poppins",
  Helvetica,
  sans-serif;
}
#smartblogcat .sdsarticleCat .blogdetail .viewed {
  font-family:"Poppins",
  Helvetica,
  sans-serif;
}
#smartblogcat .sdsarticleCat .sdsarticle-des {
  color:#808080;
  display:block;
  margin:0 0 20px;
  float:left;
  width:100%;
}
#smartblogcat .sdsarticleCat .sdsarticle-des #lipsum {
  line-height:24px;
}
#smartblogcat .sdsarticleCat .sdsreadMore .more {
  display:inline-block;
}
#smartblogcat .blog_desc .blogdetail span .material-icons {
  font-size:16px;
  line-height:14px;
  vertical-align:middle;
}
#smartblogcat .sdsarticleCat .sdsarticle-des {
  color:#808080;
  display:block;
  float:left;
  margin:0 0 15px;
  width:100%;
}
.blog_pagination {
  float:left;
  width:100%;
}
.blog_pagination .pagination li a:hover {
  color:#000;
  background:#c69155;
  border-color:#c69155;
}
@media (max-width: 767px) {
  #commentform .form-group .col-md-7 {
    width:100%;
  }
  #smartblogcat .sdsarticleCat .articleContent {
    float:left;
    width:100%;
    margin:0 0 20px;
  }
  #smartblogcat .sdsarticleCat .blog_desc {
    float:left;
    width:100%;
  }
}
@media (max-width: 543px) {
  .blog_pagination .pagination {
    text-align:center;
  }
}
/*---------------- End Smart-Blog Block Css -------------------*/
