/*---------------------------- Start TT - CMS Subbanner block ----------------------------*/

#ttcmssubbanners {
  float:left;
  width:100%;
  margin:0 0 60px;
  padding:0;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-img img {
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -khtml-border-radius:15px;
  max-width:100%;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main {
  background:#ffffff;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -khtml-border-radius:15px;
  border:1px solid #ebe0d0;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-img a {
  display:block;
  position:relative;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-img a:after {
  background:rgba(255,
          255,
          255,
          0.4) none repeat scroll 0 0;
  content:"";
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transition:all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
  -moz-transition:all 0.5s ease 0s;
  -o-transition:all 0.5s ease 0s;
  -ms-transition:all 0.5s ease 0s;
  width:100%;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner:hover .ttsubbanner-main .ttsubbanner-img a:after {
  opacity:1;
  transform:rotateX(0deg);
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  -ms-transform:rotateX(0deg);
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content .ttbanner-title {
  float:left;
  font-family:lilita one;
  font-size:20px;
  letter-spacing:0.4px;
  text-transform:capitalize;
  width:100%;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner.ttsubbanner1 .ttsubbanner-main .ttsubbanner-content .ttbanner-title {
  color:#ffa247;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner.ttsubbanner2 .ttsubbanner-main .ttsubbanner-content .ttbanner-title {
  color:#ff7894;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner.ttsubbanner3 .ttsubbanner-main .ttsubbanner-content .ttbanner-title {
  color:#cba6ff;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content .ttbanner-desc {
  color:#777777;
  text-transform:capitalize;
}
#ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content {
  padding:0 15px 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #ttcmssubbanners {
    margin:0 0 50px;
  }
}
@media (min-width: 543px) and (max-width: 991px) {
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner {
    padding:0 10px;
  }
  #ttcmssubbanners .ttsubbannerblock.row {
    margin:0 -10px;
  }
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content {
    padding:0 10px 10px;
  }
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content .ttbanner-title {
    font-size:14px;
  }
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner .ttsubbanner-main .ttsubbanner-content .ttbanner-desc {
    font-size:12px;
  }
  #ttcmssubbanners {
    margin:0 0 40px;
  }
}
@media (max-width: 543px) {
  #ttcmssubbanners .ttsubbannerblock {
    text-align:center;
  }
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner {
    display:inline-block;
    float:none;
    padding:0 0 20px;
    vertical-align:top;
    width:auto;
  }
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner3.ttsubbanner {
    padding:0;
  }
  #ttcmssubbanners {
    margin:0 0 30px;
    padding:0 15px;
  }
}
/*---------------------------- End TT - CMS Subbanner block ----------------------------*/